@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --myBlue: #297dc7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

body{
    background: url("./asset/quiz.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.055);
    background-blend-mode: color-burn;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 8%;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.9);
}

.header img{
    height: 7vw;
}

.navbar{
    display: flex;
}

.navbar div{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.navbar i{
    font-size: 2vw;
    padding: 0.7vw 0.8vw;
    border-radius: 50%;
    background-color: var(--myBlue);
    color: white;
    font-weight: 100;
    position: absolute;
    z-index: -1;
}

.navbar a { 
    font-size: 1.3vw;
    font-weight: 500;
    transition: .2s ease-in-out;
    padding: 0.5vw;
    color: black;
    opacity: 0;
    position: relative;
}

.home {
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding: 0 10%;
}

.home-content {
    width: 50%;
    box-shadow: 0 0 6vw 3vw rgba(245, 245, 245, 0.2);
    padding: 1vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-content h1 {
    position: relative;
    font-size: 5vw;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3 {
    position: relative;
    font-size: 5vw;
    font-weight: 700;
    color: var(--myBlue);
}

.home-content p {
    position: relative;
    font-size: 1.7vw;
    margin: 15px 0 40px;
    letter-spacing: 0.1vw;
}

.home-content p span{
    color: red;
    font-size: 2vw;
}